div {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.container {
    width: 600px;
    height: 600px;
    display : flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 0.5px solid black;
}

.square {
    box-sizing: border-box;
    /* trop lent si il ya le quadrillage  */
    /* border-top: 1px solid lightgrey; */
    
}

button.active {
    background-color : lightblue;
}