div {
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    height: 700px;
    display : flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 0.5px solid black;
}

.square {
    box-sizing: border-box;
    border: 1px solid lightgrey;
}